:root {
  --text-primary: #0f0f0f;
  ---additive-background: rgba(0, 0, 0, 0.05);
  --primary-background: #fff;
  --hover-background: rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

::-webkit-scrollbar {
  width: 1.1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 5px solid var(--primary-background);
  border-radius: 1.1rem;
  background: #858585;
}

body {
  width: 100%;
  background-color: var(--primary-background);
}

li {
  overflow: hidden;
  font-size: 1.25rem;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.container {
  width: 85%;
  margin: 0px auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none !important;
}

.flex-direction-column {
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}
